:root {
  --white: #f0f4f5;
  --blue: #215eb8;
  --gray: #768692;
  --font-size: 1.3rem;
  --black: black;
}

body {
  background-color: var(--white);
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  font-family: "Lato", sans-serif;
}
.card {
    width: 500px;
    border: 4px solid var(--blue);
    margin-top: 10px;
    text-align: center;
    background-color: white;
    margin-bottom: 20px;
  }
.card-title {
  height: 60px;
  width: 490;
  border-bottom: 2px solid var(--blue);
    text-align: left;
    background-color: var(--blue);
    font-size: 2rem;
    color: white;
    padding-left: 20px;
    font-weight: 550;
    display: flex;
    justify-content: left;
    align-items: center;

}
.eating {
  width: 490;
    text-align: left;
    background-color: white;
    font-size: 1.1rem;
    color: black;
    padding: 20px;
  font-weight: lighter;


}
.disorderlink {
  color: #215eb8;
}
.disorderlink:hover {
  text-decoration: none;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
}
.adult {
  height: 45px;
  width: 43%;
  color: white;
  background-color: #215eb8;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  font-weight: lighter;
  padding-top: 2px;
}
.child {
  height: 45px;
  width: 43%;
  color: white;
  background-color: #768692;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  font-weight: lighter;
  padding-top: 2px;
}
.child:hover {
  background-color: #fceb3c;
  color: black;
  text-decoration: underline;
}

.navhr {margin-left: 20px;
  margin-right: 20px;
  margin-top: 0;
  height: 3px;
  background-color: #215eb8;
  border: 0;
}

.heightandcm {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.height {
  font-weight: bold;
  font-size: 1.3rem;
}
.cm {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cmlink {
  color: #215eb8;
}
.cmlink:hover {
  /* what is the color */
  text-decoration: none;
}
.feet-inches {
  display: flex;
  justify-content: left;
  padding: 20px;

}
.feet {
  color: #768692;
  text-align: left;
  margin-right: 20px;

}
.inches {
  color: #768692;
  text-align: left;
}
.feetbox {
  height: 30px;
  width: 120px;
  display: block;
  border-radius: 5px;
  margin-top: 10px;
}
.inchbox {
  height: 30px;
  width: 120px;
  display: block;
  border-radius: 5px;
  margin-top: 10px;
}
.heighthr {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0;
  height: 1px;
  background-color: #768692;
  border: 5px;
}
.weightandlbs {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.weight {
  font-weight: bold;
  font-size: 1.3rem;
}
.lbs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lbslink {
  color: #215eb8;
}
.lbslink:hover {
  /* what is the color */
  text-decoration: none;
}
.kg {
  color: #768692;
  text-align: left;
  margin-right: 20px;
  padding: 20px;

}
.kgbox {
  height: 30px;
  width: 120px;
  display: block;
  border-radius: 5px;
  margin-top: 10px;
}

.weighthr {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0;
  height: 0.5px;
  background-color: #768692;
  border: 5px;
}
.age {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-weight: bold;
  font-size: 1.3rem;
}


.agebox {
  height: 30px;
  width: 120px;
  display: block;
  border-radius: 5px;
  margin: 20px;
}

.agehr {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0;
  height: 1px;
  background-color: #768692;
  border: 5px;
}




.sexsection {
  display: block;
  text-align: left;
  padding: 20px;
}
.sextitle {
  font-weight: bold;
  font-size: 1.3rem;
}
.sexdetail {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #215eb8;
}
.sex-details-summary-text {
  text-decoration: underline;
}

.sex-details-summary-text:hover {
  text-decoration: none;
}
#maleradio, #femaleradio {
  height: 30px;
  width: 120px;
  margin: 0px;
  margin-top: 10px;
  color: black;
  
}

.details-text {
  color: black;
  margin-left: 20px;
  margin-top: 10px;
  text-decoration: none;
}
.sexhr {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0;
  height: 1px;
  background-color: #768692;
  border: 5px;

}
.racesection {
  display: block;
  text-align: left;
  padding: 20px;
}
.racetitle {
  font-weight: bold;
  font-size: 1.3rem;
}
.racedetail {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #215eb8;
}
.race-details-summary-text {
  text-decoration: underline;
}

.race-details-summary-text:hover {
  text-decoration: none;
}
#blackafrican, #blackcarribean, #bangladeshi, #chinese, #indian, #middleeastern, #mixed, #pakistani, #white, #other {
  height: 30px;
  width: 120px;
  margin: 0px;
  margin-top: 10px;
  color: black;
}

.race-details-text {
  color: black;
  margin-left: 20px;
  margin-top: 10px;
}
.racehr {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0;
  height: 1px;
  background-color: #768692;
  border: 5px;
}
.activitysection {
  display: block;
  text-align: left;
  padding: 20px;
}
.activitytitle {
  font-weight: bold;
  font-size: 1.3rem;
}
.activitydetail {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #215eb8;
}
.activity-details-summary-text {
  text-decoration: underline;
}

.activity-details-summary-text:hover {
  text-decoration: none;
}
#active, #moderate, #inactive {
  height: 30px;
  width: 120px;
  margin: 0px;
  margin-top: 10px;
  color: black;
  
}

.activityhr {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0;
  height: 1px;
  background-color: #768692;
  border: 5px;

}
.radiositem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer {
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
}
.calculate {
  height: 50px;
  width: 120px;
  background-color: #237F3B;
  color: white;
  border-radius: 5px;
  font-size: 1.2rem;
}
.reset {
  display: flex;
  justify-content: center;
  align-items: center;
    height: 50px;
    font-size: 1rem;
    text-decoration: underline;
    color: #215eb8;
}
.reset:hover {
  text-decoration: none;
}


